body {
    margin: 0;
    background-color: white;
    font-family: Arial, sans-serif;
}

.form-container {
    background: white;
    margin: 50px auto;
    padding: 30px;
    width: 500px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

button {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    background-color: #002147;
    color: white;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #00102a;
}

.delete-btn {
    background-color: #c0392b;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: #962d22;
}