body {
    font-family: Arial, sans-serif;
    background: url('../../images/—Pngtree—abstract minimal white background_1918466.jpg');
    margin: 0;
    padding: 0;
}

.error-message{
    color: #990000;
}

.content {
    padding: 30px;
}

h1, h2 {
    color: #002147;
}

.projects-list {
    background: #ffffff;
    border-radius: 10px;
    gap: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 20px;
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    transition: background-color 0.2s ease, box-shadow 0.2s ease;
}

.project-card {
    background: #ffffff;
    border-radius: 10px;
    gap: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 20px;
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    transition: background-color 0.2s ease, box-shadow 0.2s ease;
}

.project-card:hover {
    background-color: #e9ecef;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.project-title {
    font-size: 22px;
    font-weight: bold;
    color: #002147;
    margin-bottom: 8px;
}

.project-description {
    font-size: 15px;
    color: #555;
}


.project-card {
    background: #f8f9fa;
    border-left: 4px solid #00074a;
}


.completed-list .project-card {
    background: #f8f9fa;
    border-left: 4px solid #28a745;
}

.completed-list .project-card:hover {
    background-color: #e2e6ea;
}

