.navbar {
    background-color: #343434;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, sans-serif;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-weight: bold;
    font-size: 16px;
}

.navbar a:hover {
    text-decoration: underline;
}


.navbar-left {
    display: flex;
    align-items: center;
}


.navbar-right {
    display: flex;
    align-items: center;
}


.navbar button, .navbar-right a.logout-btn, .navbar-right a.account-btn {
    background-color: #343434;
    color: white;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    border-radius: 10px;
    margin-right: 5px;
}

.navbar button:hover,
.navbar-right a.logout-btn:hover {
    background-color: #a50f26;
}

.navbar-right a.account-btn:hover {
    background-color: #8c8c8c;
}

.inline-form {
    display: inline;
    margin: 0;
    padding: 0;
}
